#imgiluminati{
    height: 55px;
}
#tituloNavBar{
    position: absolute;
    left: 44%;
}
#botones{
    margin-top: 2%;
}
#btnadd{
    margin-top: 2%;
}
#add{
    height: 15px;
}
#update{
    height: 15px;
}
#delete{
    height: 15px;
}
.table{
    width: auto;
}
.btn-borrar-asignacion{
    margin-top:30px;
}
#borrar{
    height: 25px;
}
div.centrado{
    margin-left: auto;
    margin-right: auto;
}
#tablon{
    display:block;
    margin: 0 auto;
    text-align: left;
    display: table-cell;
}
.btn-borrar-asignacion{
    margin-top: 0px;
}




#btn1{
    height: 40px; border-radius: 30px;
}
#a1{
    color:white; 
    text-align:center;
    line-height: 35px; 
    font-size: 1.2rem; 
    margin-top:5px; 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#btn2{
    height: 40px; border-radius: 30px;
}
#a2{
    color:white; 
    text-align:center; 
    line-height: 35px;  
    font-size: 1.2em; 
    margin-top:5px; 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#btn3{
    height: 40px; border-radius: 30px;
}
#a3{
    color:white; 
    text-align:center; 
    line-height: 35px;  
    font-size: 1.2em; 
    margin-top:5px; 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/*#a1{
    width: 100%;
    height: 50px; 
    color:white; 
    font-size: 1.2em;
    border-radius: 15px;
}
#a2{
    width: 100%;
    height: 50px; 
    color:white; 
    font-size: 1.2em;
    border-radius: 15px;
}
#a3{
    width: 100%;
    height: 50px; 
    color:white; 
    font-size: 1.2em;
    border-radius: 15px;
}*/



#buscartodoalumno{
    border-color: black;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(0,84,0,0.6);
}
#buscarhoras{
    border-color: black;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(0,84,0,0.6);
}
#buscadoralumno{
    border-color: black;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(0,84,0,0.6);
}
#buscarprofesor{
    border-color: black;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(0,84,0,0.6);
}